/* Dark theme */
:root {
	--bg: #1e1e2e; /* Black 2 */
	--bg-accent: #161320; /* Black 0 */
	--text: #d9e0ee; /* White */
}

html {
	color: var(--text);
	background: var(--bg);
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 88vh;
}

#left-col {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%; /* Not the happiest with this */
}

#pfetch {
	background: var(--bg-accent);
	padding: 1rem;
	border-radius: 10px;
}

.terminal {
	margin: 0;
}

#pfetch-row {
	display: flex;
	flex-direction: row;
}

#img-me {
	height: 10rem;
	margin-right: 1rem;
	margin-left: 0;
}

#right-col {
	margin: auto;
	display: flex;
	align-items: center;
	position: relative;
	height: 100%; /* Not the happiest with this */
	width: 100%;
}

#right-content {
	width: 60%;
}
