/* Dark theme */
:root {
	--bg: #1e1e2e; /* Black 2 */
	--bg-accent: #161320; /* Black 0 */
	--text: #d9e0ee; /* White */
	--accent: #ddb6f2; /* Mauve */
}

html {
	color: var(--text);
	background: var(--bg);
	font-family: sans-serif;
}

body {
	margin: 0;
}

h2 {
	margin-top: 0;
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 86vh; /* Not the happiest with this */
}

#page-bg {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../imgs/background.webp) no-repeat center center fixed;
	background-size: cover;
	z-index: -1;

	animation: fadeInAnimation ease 0.25s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

img {
	animation: fadeInAnimation ease 0.25s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 0;
}

#left-col {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
}

#pfetch {
	background: var(--bg-accent);
	padding: 1rem;
	border-radius: 10px;
}

.terminal {
	margin: 0;
}

#pfetch-row {
	display: flex;
	flex-direction: row;
}

#img-me {
	height: 10rem;
	margin-right: 1rem;
	margin-left: 0;
	border-radius: 0.4rem;
}

#right-col {
	margin: auto;
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
	width: 100%;
}

#right-content {
	width: 60%;
}

/* Format navigation */
header {
	display: flex;
}

nav {
	font-size: 1rem;
	line-height: 2;
	padding: 1rem 0 0 0;
	background: var(--bg);
	display: inline-block;
	border: 1px solid var(--accent);
	margin: auto;
	margin-top: -10px;
	border-radius: 5px;
}

nav a,
nav a:visited {
	margin: 0 0.5rem 0.6rem 0.5rem;
	color: var(--text);
	display: inline-block;
	padding: 0.1rem 1rem;
	text-decoration: none;
}

nav a:hover,
nav a#nav-current {
	color: var(--accent) !important;
	text-decoration: underline;
}

/* Reduce nav size on mobile */
@media only screen and (max-width: 750px) {
	body > header p {
		margin: 0rem auto;
	}

	nav a {
		padding: 0.05rem 0.2rem;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
